name: golangci-lint

on:
  pull_request:
    branches:
      - 'main'

permissions: {}

jobs:
  golangci-lint:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: '1.24'
          check-latest: true

      - name: golangci-lint
        run: |
          make lint
